:root {
  --my-system-primary-color: #3b82f6;
  --my-system-primary-color-opacity: #3b82f6A1;
  --my-menu-text-color: #a6b0c3;
  --my-menu-active-text-color: #ffffff;
  --my-menu-bg-color: #2b3243;
  --my-menu-hover-bg-color: #3b4255;
  --my-sub-menu-bg-color: #2b3243;
  --my-sub-menu-hover-bg-color: #3b4255;
  --my-sub-menu-active-text-color: #ffffff;
  --my-menu-active-bg-color: #3b82f6;
  --my-sidebar-width: 240px;
  --my-tagview-active-bg-color: var(--my-system-primary-color);

  --el-color-primary: var(--my-system-primary-color);
}
